#frontend url, localhost or hosted domain
FRONTEND_URL=http://localhost:5173

#db url
DATABASE_URL=postgresql://<user>:<password>@localhost:5432/db_name

#firebase keys (auth)
FIREBASE_PROJECT_ID=YOUR_KEY_HERE
FIREBASE_CLIENT_EMAIL=YOUR_KEY_HERE
FIREBASE_PRIVATE_KEY=YOUR_KEY_HERE

#openai key for generating questions
OPENAI_API_KEY=YOUR_KEY_HERE