#frontend url, localhost or hosted domain
FRONTEND_URL=http://localhost:5173

DATABASE_URL=postgresql://<user>:<password>@localhost:5432/db_name

FIREBASE_PROJECT_ID=
FIREBASE_CLIENT_EMAIL=
FIREBASE_PRIVATE_KEY=